table {
 border-collapse: collapse;
 width: 30%;
 }
 th, td {
 border: 1px solid #ddd;
 padding: 8px;
 text-align: center;
 }
 tr:nth-child(even) {
 background-color: #f2f2f2;
 }
 tr:hover {
 background-color: #ddd;
 }